

  <div class="jumbotron">
    <h1> Pokemon Team Share </h1>
    <p> Welcome to the app that lets you create and share teams of Pokemon </p>
    <ul>
      <% if (loggedIn) {%>
      <li><a href="/createTeam"> Create a Team </a></li>
      <li><a href="/profile">See your Saved Teams </a></li>
      <li><a href="/profiles">See everyone's Teams </a></li>
      <% } %>
    </ul>
  </div>
